 mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type{
    padding-top: 24px;
    padding-bottom: 24px;
  }
  img {
    width: 50px; 
  }
  .float-right{
    float: right;
  }
  .icon {
    font-size: 36px;
    color: red;
}
button{
  margin: 5px;
}