<div>
    <a routerLink="/shop">Continue Shopping</a>
</div>
<div *ngIf="empty">
    <img src="../../assets/image/empty-cart.png" alt="" style="width: 50%; height: 25%;">
</div>
<br><br><br>
<div >
    <div style="overflow-x:auto;" >

        <table mat-table [dataSource]="shopItem">
            <ng-container *ngFor="let columnName of displayedColumns;" matColumnDef="{{columnName}}">
                <th mat-header-cell *matHeaderCellDef>
                    {{columnName }} </th>
                <td mat-cell *matCellDef="let element;let i = index">
                    <ng-container *ngIf="columnName == 'image'; else notAnImage">
                        <img [src]="element.image" />
                    </ng-container>
                    <ng-template #notAnImage>
                        <ng-container *ngIf="columnName == 'Exp_date' ; else notAnDate">
                            {{element[columnName]|date}}
                        </ng-container>
                        <ng-template #notAnDate>
                            <ng-container *ngIf="columnName=='Remove' ; else notAnRemove">
                                <button (click)="remove(i)"><span class="material-icons">
                                    delete
                                  </span></button>
                            </ng-container>
                             <ng-template #notAnRemove>{{element[columnName]}}</ng-template>
                            
                        </ng-template>
                    </ng-template>
    
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <ng-container *ngIf="columnName == 'Price_kg'">
                        <strong>Total Price</strong>
                    </ng-container>
                    <ng-container *ngIf="columnName == 'Total_price'">
                        {{getTotalCost()}}
                    </ng-container>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
    </div>
</div>