.header {
    overflow: hidden;
    background-color: #6e92e0;
    padding: 20px 10px;
  }
  .header a{
    font-size: 25px;
    font-weight: bold;
    color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  border: black;
  }
  .toggle_button{
    padding: 24px 0px 24px 24px;
  }
  div {
    background-color: #f4f6ffc5;
    text-align: center;
  }